body {
    height: 100vh; 
    display: flex;
    align-items: center; 
    justify-content: center; 
    background-color: #88b7e6; 
    overflow-x: hidden; 
}
.container {
    max-width: 400px; 
    padding: 20px;
    border-radius: 8px; 
    background-color: rgb(208, 230, 255);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); 
}